.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 20px;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.modal-overlay.show {
  transform: translateY(0);
}

.modal-overlay.hide {
  transform: translateY(-100%);
}
